<section>
  <div class="container">
    <div class="timeline-title">
      <span>Tenha acesso a todos os conteúdos por <b>2 Horas</b></span>
      <p>Como Funciona?</p>
    </div>
    <div class="timeline">
      <ul>
        <li>
          <div class="timeline-content">
            <h1>Contato</h1>
            <p>Ao clicar em 'solicitar Teste', você será redirecionado para o nosso WhatsApp para falar com o
              atendente.
            </p>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Login</h1>
            <p>Nós te enviaremos um login de teste</p>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Aproveite</h1>
            <p>Explore os conteúdos por até duas horas </p>
          </div>
        </li>
        <li>
          <div class="timeline-content">
            <h1>Sem compromisso</h1>
            <p>O teste é 100% sem compromisso. Caso queira adquirir algum dos planos após o teste, basta solicitar ao
              mesmo atendente que lhe forneceu o teste.</p>
          </div>
        </li>
      </ul>
    </div>
    <div class="btn-time">
      <a href="#">Solicitar Teste</a>
    </div>
  </div>
</section>
