<section>
  <div class="container">
    <div class="test-title">
      <span><b>Experimente</b> por 2 horas.</span>
    </div>
    <div class="step-test">
      <div class="box">
        <span id="number"><b>01</b>
          Baixar
        </span>
        <span id="description">Faça o download do aplicativo.</span>
      </div>

      <div class="box">
        <span id="number"><b>02</b>
          Logar
        </span>
        <span id="description">Utilize nosso login de teste.</span>
      </div>


      <div class="box">
        <span id="number"><b>03</b>
          Curtir
        </span>
        <span id="description">Aproveite todo o conteúdo.</span>
      </div>

    </div>

    <a href="">Solicitar Teste</a>

  </div>
</section>
