<section>
  <div class="section4-container">
    <div class="content1">

      <div class="section-txt">
        <h4>Tenha um Cinema no Sofá da sua Casa</h4>
        <p>Explore todos os lançamentos e não perca nenhum avanço no universo do entretenimento.Garanta acesso exclusivo
          a
          uma variedade de conteúdos e esteja sempre à frente com as últimas novidades.
        </p>
        <a href="#">
          Fazer um Teste
          <img src="../../../assets/icons/icons8-seta-longa-à-direita-50.png" alt="imagem de uma seta">
        </a>
      </div>
      <div class="section-img">
        <img src="../../../assets/images/group.png" alt="imagem generica de conteudos de televisão">
      </div>

    </div>

  </div>
</section>
