<section>
  <div class="container">
    <div class="group1">
      <h4>ESCOLHA EM QUAL APARELHO VOCÊ VAI QUERER UTILIZAR</h4>
      <div class="box1" *ngFor="let box of boxs">
        <img src="../../../assets/icons/check-mark.png" alt="imagem generica de um caixa marcada como verdadeiro">
        <span>{{box.aparelho}}</span>
      </div>
    </div>

    <div class="container3-img">
      <p>O <span>Melhor</span> da Tv e Streaming em um só lugar</p>
      <img src="../../../assets/images/popcorn.png" alt="imagem generica de um saco de pipoca">
    </div>

  </div>
</section>
