<main>
  <div class="main-container">

    <div class="main-txt">
      <h1>Assista seus filmes e series <span>favoritos</span> no conforto de sua casa.</h1>
      <p>Acesse uma programação incrível: filmes, séries, novelas, esportes, documentários e shows, tudo com qualidade
        de <span>cinema</span>
      </p>
      <div class="main-btn">
        <a href="#">Ver Planos</a>
        <span> 1000 canais, + de 9000 filmes e + de 4000 series</span>
      </div>
    </div>

    <div class="main-img">
      <img src="../../../assets/images/gp.png" alt="imagem de 4 conteudos da TV, como serie, filmes e esporte">
    </div>

  </div>
</main>